{% extends 'base.html' %} {% load static %}

<!-- prettier-ignore -->
{% block title %}Review Detail{% endblock title %}

<!-- prettier-ignore -->
{% block body_content %}
<div class="review-detail">
	<p>Username: {{ the_review.username }}</p>
	<p>Rating: {{ the_review.get_rating_star }}</p>
	<p>Review: {{ the_review.review_text }}</p>
	{% if is_favorite %}
	<p>Your Favorite Review</p>
	{% else %}
	<form action="/review/reviews/favorite/" method="post">
		{% csrf_token %}
		<input type="hidden" name="review_id" value="{{ the_review.id }} " />
		<button>Favorite</button>
	</form>
	{% endif %}
</div>
{% endblock body_content %}
