{% extends 'base.html' %} {% load static %}
<!-- prettier-ignore -->
{% block title %}
	{% if read_later %}
		Posts Yet To Read
	{% else %}
		All Posts
	{% endif %}
{% endblock title %}

{% block css %}
<link rel="stylesheet" href=" {% static 'blog/all_post.css' %} " />
<link rel="stylesheet" href=" {% static 'blog/post.css' %} " />
{% endblock css %}

<!-- prettier-ignore -->
{% block body_content %}
<section id="all-posts">
	{% if read_later %}
	<h2>Posts Yet To Read</h2>
	{% else %}
	<h2>All Posts</h2>
	{% endif %}
	<ul>
		<!-- prettier-ignore -->
		{% for post in posts %}
			{% include "blog/includes/post.html" %}
		{% endfor %}
	</ul>
</section>
{% endblock body_content %}
