{% extends 'base.html' %} {% load static %}
<!-- prettier-ignore -->
{% block title %}Home{% endblock title %}
{% block css %}
<link rel="stylesheet" href=" {% static 'blog/blog.css' %} " />
<link rel="stylesheet" href=" {% static 'blog/post.css' %} " />
{% endblock css %}
<!-- prettier-ignore -->
{% block body_content %}
<section id="welcome">
	<header>
		<img
			src=" {% static 'blog/images/hari.jpg' %} "
			alt="Hariprasad - Author"
		/>
		<h2>Hariprasad's Blog</h2>
	</header>
	<p>Hi, I am Hariprasad and I love to build web apps</p>
</section>

<section id="latest-posts">
	<h2>Recent Posts</h2>
	<ul>
		<!-- prettier-ignore -->
		{% for post in posts %} 
			{% include "blog/includes/post.html" %} 
		{% endfor %}
	</ul>
</section>

<section id="about">
	<h2>What I Do</h2>
	<p>
		I love programming, I love to help others and I enjoy exploring new
		technologies in general!
	</p>
	<p>
		My goal is to keep on growing as a developer - and if I could help you
		do the same, I'd be very happy 😇
	</p>
</section>
{% endblock body_content %}
