{% extends 'base.html' %} {% load static %}
<!-- prettier-ignore -->
{% block title %}
{{the_post.title}}
{% endblock title %}

{% block css %}
<link rel="stylesheet" href=" {% static 'blog/post_details.css' %} " />
{% endblock css %}

<!-- prettier-ignore -->
{% block body_content %}

{% if comment_form.errors %}
<div id="alert">
	<h2>Cannot save this comment 😥</h2>
	<p>Please fix the issues in the comment box below</p>
	<a href="#comment-form">Fix Now ✔</a>
</div>
{% endif %}

<section id="summary">
	<h2>{{the_post.title}}</h2>
	<div>
		<!-- prettier-ignore -->
		{% for tag in tags %}
		<a class="tag" href="{{tag.get_absolute_url}}">{{tag.caption}}</a>
		{% endfor %}
		<!-- prettier-ignore -->
		{% if not read_later %}
		<div class="read-later">
			<form action="{% url 'get_read_later' %}" method="post">
				<!-- prettier-ignore -->
				{% csrf_token %}
				<input
					type="hidden"
					name="post_slug"
					value="{{ the_post.slug }}"
				/>
				<button type="submit">Read Later 🕓</button>
			</form>
		</div>
		{% else %}
		<div class="read-later">
			<form action="{% url 'done_read_later' %}" method="post">
				<!-- prettier-ignore -->
				{% csrf_token %}
				<input
					type="hidden"
					name="post_slug"
					value="{{ the_post.slug }}"
				/>
				<button type="submit">Done Reading ✔</button>
			</form>
		</div>
		{% endif %}
	</div>

	<article>
		<img src=" {{ the_post.post_image.url }} " alt="{{the_post.title}}" />
		<address>
			By
			<a href="mailto:{{the_post.author.email}}">{{the_post.author}}📧</a>
		</address>
		<div>Last updated on <time>{{the_post.date|date:"d M Y P"}}</time></div>
	</article>
</section>

<main>
	<p>{{the_post.content|linebreaks}}</p>
</main>

{% if comments %}

<section id="comments">
	<ul>
		<!-- prettier-ignore -->
		{% for comment in comments %}
		<li>
			<div class="content">
				<h2>{{ comment.user_name }}</h2>
				<p>{{ comment.comment_text|linebreaks }}</p>
			</div>
			<div class="content-meta">
				<p>{{ comment.time }}</p>
			</div>
		</li>
		{% endfor %}
	</ul>
</section>
{% else %}
<section id="comments">
	<h2>No Comments Yet 😶</h2>
</section>
{% endif %}

<section id="comment-form">
	<h2>Your Comment</h2>
	<form
		action=" {% url 'post_details' post_slug=the_post.slug %} "
		method="post"
	>
		<!-- prettier-ignore -->
		{% csrf_token %} 
		{% for form_field in comment_form %}
		<div
			class="form-control {% if form_field.errors %} invalid {% endif %}"
		>
			<!-- prettier-ignore -->
			{{ form_field.label_tag }}
			{{ form_field }}
			{{ form_field.errors }}
		</div>
		{% endfor %}
		<div class="form-control">
			<button type="submit">Save Comment</button>
		</div>
	</form>
</section>

{% endblock body_content %}
