{% extends 'base.html' %} {% load static %}
<!-- prettier-ignore -->
{% block title %}{{the_post.title}}{% endblock title %}
{% block css %}
<link rel="stylesheet" href=" {% static 'blog/post_details.css' %} " />
{% endblock css %}

<!-- prettier-ignore -->
{% block body_content %}
<section id="summary">
	<h2>{{the_post.title}}</h2>
	<article>
		<img
			src=" {% static 'blog/images/'|add:the_post.image_name %} "
			alt="{{the_post.title}}"
		/>
		<address>By {{the_post.author}}</address>
		<div>Last updated on <time>{{the_post.date|date:"d M Y"}}</time></div>
	</article>
</section>

<main>
	<p>{{the_post.content|linebreaks}}</p>
</main>
{% endblock body_content %}
