{% extends 'base.html' %} {% load static %}
<!-- prettier-ignore -->
{% block title %}{{the_post.title}}{% endblock title %}
{% block css %}
<link rel="stylesheet" href=" {% static 'blog/post_details.css' %} " />
{% endblock css %}

<!-- prettier-ignore -->
{% block body_content %}
<section id="summary">
	<h2>{{the_post.title}}</h2>
	<div class="tags">
		<!-- prettier-ignore -->
		{% for tag in tags %}
		<a href="{{tag.get_absolute_url}}">{{tag.caption}}</a>
		{% endfor %}
	</div>
	<article>
		<img src=" {{ the_post.post_image.url }} " alt="{{the_post.title}}" />
		<address>
			By
			<a href="mailto:{{the_post.author.email}}">{{the_post.author}}📧</a>
		</address>
		<div>Last updated on <time>{{the_post.date|date:"d M Y P"}}</time></div>
	</article>
</section>

<main>
	<p>{{the_post.content|linebreaks}}</p>
</main>
{% endblock body_content %}
