{% extends 'base.html' %}
<!-- prettier-ignore -->
{% block title %}Book Store{% endblock title %}
{% block body_content %}
<ul>
	{% for book in all_books %}
	<li>
		<!-- <a href=" {% url 'book_detail' book_title=book.title|slugify %} "
			>{{book.title}}</a
		> -->
		<a href=" {{book.get_absolute_url}} ">{{book.title}}</a>
	</li>
	{% endfor %}
</ul>
<hr>
<h4>
	Total {{all_books_count}} books are available with average rating of
	{{all_ratings_avg.rating__avg|floatformat}}
</h4>
{% endblock body_content %}
